<p>Text: {{myText}}</p>



Products:

<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>Produkt</th>
		<th>EAN</th>
		<th>Reparierbarkeit</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="(_id, product) in data.products">
		<td><a ng-href="/#products/{{_id}}">{{product.name}}</a></td>
		<td>{{product.ean}}</td>
		<td>{{product.reparability}}</td>
        <td ng-if="data.deleteModeActive">
            <button type="button" ng-click="deleteItem(_id, product._rev)" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
            </button>
        </td>
	</tr>
	</tbody>
</table>

<button type="button" checkable="true" checked="true" ng-click="toggleDeleteMode()" class="btn btn-sm btn-danger" ng-class="{active: data.deleteModeActive}">
    Löschenmodus
</button>

<hr>
<p>

<a href="#/uploadReport">Submit new report</a>
</p>
