<div ng-controller="UploadreportCtrl">

<h1>
    Produkt bewerten
</h1>
<form class="form-horizontal" role="form">

    <input type="text" placeholder="Produktname" class="form-control"  ng-model="newProduct.name"/><br>
    <input type="text" placeholder="EAN" class="form-control" ng-model="newProduct.ean"/><br>
    <input type="text" placeholder="Hersteller" class="form-control" ng-model="newProduct.hersteller"/><br>

    <div class="form-group">
        <label class="control-label col-sm-3">Reparierbarkeit:</label>
        <div class="col-sm-9">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="newProduct.reparability" uib-btn-radio="1" uncheckable>sehr schlecht</label>
                <label class="btn btn-primary" ng-model="newProduct.reparability" uib-btn-radio="2" uncheckable>schlecht</label>
                <label class="btn btn-primary" ng-model="newProduct.reparability" uib-btn-radio="3" uncheckable>ok</label>
                <label class="btn btn-primary" ng-model="newProduct.reparability" uib-btn-radio="4" uncheckable>sehr gut</label>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-3">Haltbarkeit:</label>
        <div class="col-sm-9">
            <div class="btn-group">
                <label class="btn btn-primary control-label" ng-model="newProduct.durability" uib-btn-radio="1" uncheckable>sehr schlecht</label>
                <label class="btn btn-primary control-label" ng-model="newProduct.durability" uib-btn-radio="2" uncheckable>schlecht</label>
                <label class="btn btn-primary control-label" ng-model="newProduct.durability" uib-btn-radio="3" uncheckable>ok</label>
                <label class="btn btn-primary control-label" ng-model="newProduct.durability" uib-btn-radio="4" uncheckable>sehr gut</label>
            </div>
        </div>
    </div>


    :
        <div class="btn-group">
        </div>
    </p>

    <label class="control-label">Beschreibung</label>
    <div class="form-group">
        <div class="col-sm-12">
            <textarea class="form-control" placeholder="Bewertung" rows="5" ></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="submit" class="btn btn-default" ng-click="submit(newProduct)" value="Submit" />
        </div>
    </div>

</form>

<p>
    Submit result: {{submitResult}}
</p>

<h2>Vorschau</h2>
<p>
    Name: {{newProduct.name}}<br>
    EAN: {{newProduct.ean}}<br>
    Reparierbarkeit: {{newProduct.reparability}}<br>
    Haltbarkeit: {{newProduct.durability}}<br>



</p>

<p>
    New Product: {{newProductX}}



</p>

</div>
