<div *ngIf="product">
  Selected: {{product.name}}
  <p>
    <input [(ngModel)]="product.name" placeholder="name"/>
  </p>

  <div>
    Reparierbarkeit: {{product.reparability !== undefined ? product.reparability : "keine Bewertung"}}

  </div>

  <div *ngFor="let attachment of product.attachments">
    <img src="{{attachment.fileName}}"/>
  </div>

</div>

<div>
    Select file:<input type="file" ng2FileSelect [uploader]="uploader" />
</div>
<button (click)="uploadImage()" >Upload Image</button>
<button (click)="goBack()">Back</button>
